body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    overflow: hidden;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    background: rgb(70, 224, 65);
    border-radius: 20px;
    box-shadow: 0 4px 18px rgb(149, 248, 180);
    border: 3px solid;
    transition: bottom 1s, left 1s;
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver ;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txtfield{
    position: relative;
    padding: 8px;
    border: none;
}
.txtfield input{
    padding: 0 5px;
    width: 100%;
    height: 40px;
    font-size: 16px;
}
form .description{
    position: relative;
    padding: 8px;
    border: none;
}
.description input{
    padding: 25px 5px;
    width: 100%;
    height: 40px;
    font-size: 16px;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    background-color: rgb(8, 95, 42);
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
}
.signup{
    margin: 30px 0px;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.signup a{
    text-decoration: none;
    color: rgb(0, 183, 255);
}
.signup a:hover{
    text-decoration: underline;
}
.video{
    width: 102%;
    height: 110%;
    position: absolute;
    bottom: 0;
    right: 0.5;
    z-index: -1;
}